<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Class year:</b>
  <%= @user.class_year %>
</p>

<p>
  <b>Netid:</b>
  <%= @user.netid %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
